[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://gitclone.com/github.com/nlohmann/json.git
[submodule "3rdparty/gtest"]
	path = 3rdparty/gtest
	url = https://gitclone.com/github.com/google/googletest
[submodule "3rdparty/libev"]
	path = 3rdparty/libev
	url = https://github.com/enki/libev.git
